Debug
__pycache__
**/*.launch
.*
!.github
tools/Java_Configurator_Source/
!tools/Java_Configurator_Source/src
*.hex
*.bin
*.elf
*.dump
*.ctu-info
src/Result.log
bin/
experimental settings/
releases/
tests/sim/*
!_tsdz2.cdef